/* logo */
.skin-blue .main-header .logo {
background-color: #6D6564;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #B0D0C9;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #504C4B;
}

/* main sidebar */
.skin-blue .main-sidebar {
background-color: #B7B2B2;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #696868;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: #9D9D9D;
color: #000000;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
background-color: #d0b0cf;
}
/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #86B898;
}

/* changes the colour of the slider */
.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #62AB89;
border-top: 1px solid #978B8B ;
border-bottom: 1px solid #978B8B ;
}


/* body */
.content-wrapper, .right-side {
background-color: #F5F4F4;
}

/* table */
table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgb(222, 224, 227) !important;
}

/* box */
#toto > div:nth-child(1) > div:nth-child(1) {
        border-top: 4px solid #d7bad3 ;
        border-left: 4px solid #dcd5db ;
        border-right: 4px solid #dcd5db ;
        border-bottom: 4px solid #dcd5db
}
